<table class="col-10 table table-hover" style="text-align: center;">
  <thead>
    <tr>
      <th>Time Started</th>
      <th>Time Ended</th>
      <th>Type</th>
      <th>Description</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% time_tracks.each do |time_track| %>
      <tr>
        <td><%= time_track.time_started.strftime("%d.%m.%Y %H:%M") %></td>
        <td><%= time_track.time_ended.strftime("%d.%m.%Y %H:%M") %></td>
        <td><%= time_track.time_type %></td>
        <td><%= time_track.description %></td>
        <td>
          <%= link_to 'Edit', edit_time_track_path(time_track), remote: true, class: "btn btn-warning btn-sm" %>
        </td>
        <td><%= link_to 'Destroy', time_track, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>