<main class="main" role="main" style="margin-top: 200px;">
  <section class="section page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="card">
            <div class="card-header">
              Login
            </div>
            <div class="card-body">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              
                <div class="form-group">
                  <div class="field">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control", placeholder: "E-Mail" %>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <div class="field">
                      <%= f.password_field :password, autocomplete: "current-password" , class: "form-control", placeholder: "Password" %>
                  </div>
                </div>
                <br>
                <div class="form-group custom-control custom-checkbox">
                  <div class="row">
                    <div class="col">
                      <% if devise_mapping.rememberable? %>
                        <div class="field">
                          <%= f.check_box :remember_me, style: "margin-left: 50px; margin-top: 10px;" %>
                          <label for="rememberMe" class="custom-control-label" name="rememberMe">Remember Me</label>
                          <div style="float: right; width: 40%;">
                            <%= f.submit "Log in", style: "float: left;" %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <br>
                <% end %>
              
            </div>
            <div class="card-footer text-center">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>